<a href="https://colab.research.google.com/github/kajendranL/GoogleColabs/blob/master/http_www_decodeschool_com_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#http://www.decodeschool.com/

# Write Python Program to print Hello World

In [0]:
print("Hello world")

Hello world

# WAP 
Python Program to get input from the user.
Sample Input:
hi boss
Sample Output:
hi boss

In [0]:
message = input("Type in the input as 'hi boss' ")
print(message)

Type in the input as 'hi boss' hi boss
hi boss

# Python Program to get an integer input from the user

In [0]:
num = int(input("Enter a number:"))
print(num)

Enter a number56
56

# Python program to get fractional number from the user.

In [0]:
float_input = float(input("Enter a fractional number: "))

print(float_input)

Enter a fractional number: 56.43
56.43

# Python program to get two integer numbers, add both the integers and dispaly the sum.

In [0]:
f_num = int(input("Enter a number: "))
s_num = int(input("Enter another number :"))

add_it = f_num +s_num

print("Addition is", add_it)


sub_it = f_num - s_num

print("substraction is", sub_it)

Enter a number: 456
Enter another number :654
Addition is 1110
substraction is -198

# Python program to get Kilometer km from user and find meter m

In [0]:
Kilo_meter = int(input("How many meeters" ))

Meters = Kilo_meter *1000

print(Kilo_meter, "km  is ", Meters,"meters")

How many meeters56
56 km  is  56000 meters

# Python program to get meter m from user and find kilometer km

In [0]:
meters= int(input("Enter the number of meters: "))

k_m = meters / 1000

print("{} meters is {} kilo meters".format(meters, k_m))

Enter the number of meters: 56000
56000 meters is 56.0 kilo meters

# Python program to get side of square and find area of square

In [0]:
a = int(input("Enter the length of the side: "))
Square = a*a

print("The side of square is {}".format(Square))

Enter the length of the side: 5
The side of square is 25

# Python program to getlength and breadth of rectangle and find area of rectangle

In [0]:
Width = int(input("Enter the base of the Rectangle: "))
Height = int(input("Enter the vertical height of the Rectangle: "))

Rectangle = Width*Height

print("The are of the Rectangle is {}".format(Rectangle))

Enter the base of the Triangle: 6
Enter the vertical height of the Triangle6
The are of the Triangle is 36

# Python program to get length and width of right angled trianlgle and find area of right angled triangle

1.Acute angle triangle: When the angle between 2 sides is less than 90 degrees it is called an acute angle triangle.
2.Right angle triangle: When the angle between any two sides is equal to 90 degrees it is called as right angle triangle.
3.Obtuse angle triangle: When the angle between any two sides is greater than 90 degrees it is called an obtuse angle triangle.

In [0]:
base = int(input("Enter the base of the Triangle: "))
length = int(input("Enter the length of the Triangle: "))

Right_triangle = (base * length) / 2

print("so the area of the right angled Triangle is {}".format(Right_triangle))

Enter the base of the Triangle: 6
Enter the length of the Triangle: 6
so the area of the right angled Triangle is 18.0

# Python program to get base width and height of triangle and find area of triangle

In [0]:
base = int(input("what is the base: "))
height = int(input("What is the height: "))

area = (base*height) /2

print("The area of the triangle is {}".format(area))

what is the base: 6
What is the height: 12
The area of the triangle is 36.0

# Python program to get radius of circle and find area of circle.

In [0]:
import math



radius = int(input("Enter the raidus: "))
area  = 3.14 *radius*radius

print (area)

Enter the raidus: 4
50.24

#Python program to get radius of circle and find circumference of circle.

In [0]:
radius = int(input("Enter the rdius: "))

cirum = 2* 3.14*radius

print(cirum)

Enter the rdius: 4
25.12

# Python program to get employee wages and number of days worked from user and find Basic Pay, DA, HRA, PF and Net Pay.
(Note HRA, DA and PF are 10%,5%and 12% of basicpay respectively.)

In [0]:
num_days = float(input("Enter the number of days worked: "))
wage = float (input("Enter the wages: "))
basic_pay = num_days*wage

HRA = basic_pay*0.1
DA = basic_pay*0.05
PF = basic_pay*0.12

net_salary = basic_pay + HRA + DA - PF

print(net_salary)

Enter the number of days worked: 30
Enter the wages: 16450.00
508305.0

#Python program to get kilobytes kb from user and find bytes b

In [0]:
kb = int(input("Enter the kb size: "))

b = kb*1024

print("The bytes of {}kb is {}".format(kb, b))

Enter the kb size: 2
The bytes of 2kb is 2096

#Python program to get bytes b from user and  find kilobytes kb

In [0]:
b = int(input("Enter the bytes to be converted to kb:"))

kb = b/1024

print("Ther kb of b {} is {}".format(b, kb))

Enter the bytes to be converted to kb:2000
Ther kb of b 2000 is 1.953125

#Python program to get Principle amount, number of months, rate of interest from user and caluculate simple interest.

In [0]:
principal = float(input("What is the principal amount?"))

months = int(input("How many number of months?"))
interst = float(input("What is the interest rate?"))

sim = (principal*months *interst)/100

print(sim)

What is the principal amount?5000
How many number of months?12
What is the interest rate?1
600.0

#Python program to get two integers a and b from user and swap the values

In [0]:
a = int(input("Enter first number: "))
b = int(input("Enter a second number: "))

a,b =b,a

print(a,b)

Enter first number: 10
Enter a second number: 5
5 10

#Python program to get an number  n from user  and display the last digit of n

In [0]:
num = int(input("Please enter a number: "))

lastdigit = num % 10
569
print("The last digit of {} is {}".format(num, lastdigit))

Please enter a number: 569
The last digit of 569 is 9

# Branching Statements in python programming


Python Program to get price and quantity of a product, calculate bill amount and claculate 10% discount 
for the billamount 5000 and above.

In [0]:
price = int(input("what is the price of the product?"))

quan = int(input("What is the quantity of the same?"))

bill = price * quan

if (bill >= 5000):

  discount = bill*0.1
  
  bill  = bill - discount
  print(bill)

else:
  print(bill)

what is the price of the product?300
What is the quantity of the same?10
3000

# Python Program to get two numbers num1 and num2 and find the greatest one among and smallest one

In [0]:
num1 = int(input("Enter a number:"))

num2 = int(input("Enter another number:"))

greatest = max(num1, num2)
smallest = min(num1, num2)
print("The greatest number among {} and {} is {}".format(num1, num2, greatest))
print("The smallest number among {} and {} is {}".format(num1, num2, smallest))

Enter a number:565
Enter another number:987
The greatest number among 565 and 987 is 987
The smallest number among 565 and 987 is 565

# Python Program to get a number num and check whether num is odd or even?

In [0]:
num1 = int(input("Enter a number: "))

if (num1 % 2==0):
  print("{} is an even number".format(num1))
else:
  print("{} is an Odd number".format(num1))

Enter a number: 95
95 is an Odd number

#Python Program to get a number num and check whether num is three digit number or not?.

In [0]:
num1 = int(input("Enter the numbers:"))

count = 0

while (num1>0):
  count = count+1

  num1 = num1//10

print("The total digits in given numbers are {}".format(count))

Enter the numbers:45632
The total digits in given numbers are 5

#Python Program to get three numbers num1, num2 and num3 and find the greatest and the smallest one among num1,num2 and num3.

In [0]:
num1= int(input("Enter a first num:"))

num2=int(input("Enter the second number:"))

num3= int(input("Enter the third number: "))

big = max(num1, num2, num3)
small=min(num1, num2, num3)


print("The greatest num among the three is : {}, and the smallest number is :{}".format(big, small))

Enter a first num:45
Enter the second number:65
Enter the third number89
The greatest num among the three is 89, and the smallest number is 45

#Python Program to get a number num and check whether num is divisible by 3.

In [0]:
num4 = int(input("Enter a number:"))

if (num4 % 3 ==0):
  print(num4, "is divisible by 3")

else:
  print("{}, is not divisible by 3".format(num4))

Enter a number:47
47, is not divisible by 3

#Python Program to get a year and check whether year is leap year or not.

In [0]:
year = int(input("Enter a year to find if it is Leap year or not: "))

if (year % 4 ==0 and year %100 != 0 and year % 400):
  print("{}, it is a leap year".format(year))
else:
  print("{}, it is not a leap year".format(year))

Enter a year to find if it is Leap year or not: 1997
1997, it is not a leap year

#Python Program to get a number num and check whether last digit of num is divisible by three.

In [0]:
numb = int(input("Enter a number to find if the last digit can be divided by 3: "))

find_last = numb % 10
if (find_last % 3 ==0):
  print("The last digits of {}, is {} and it can be divided by 3".format(numb, find_last))
else:
  print("The last digit is : {}, and it  is not divisible by 3".format(find_last))

Enter a number to find if the last digit can be divided by 3: 6
The last digits of 6, is 6 and it can be divided by 3

# Python Program to get a binary arthmetic expression and solve the expression.

In [0]:
num = int(input("Type in a number:"))
num2 = int(input("Type in another number:"))

do = input("What you want to do?")

if do == "+":
  result = num +num2
elif do =='-':
  result = num - num2
elif do == '*':
  result = num * num2
elif do == '/':
  result = num/num2
  

else:
  print("Please enter the right operator code")

print("{} the result of {} and {} is".format(result, num, num2))

Type in a number:9
Type in another number:9
What you want to do?*
81 the result of 9 and 9 is

# Python Program to get price and quantity of a product, calculate bill amount, claculate 10% discount for the billamount 5000 and above, 5% discount for the bill amount 1000 and above.

In [0]:
price = float(input("What is the price?"))

quant = int(input("How many do you need?"))

bill = price * quant

if bill >= 1000:
  disc = bill*0.05
  total = bill - disc
elif bill >=5000:
  disc = bill *0.1
  total = bill - disc
  
else:
  print(bill)

print("The total is",total)

What is the price?500
How many do you need?10
The total is 4750.0

#Python program to get input n and print natural numbers till n.

In [0]:
n = int(input("Enter a number:"))
for i in range(1,n+1):
  print(i, end=' ')

Enter a number:9
1 2 3 4 5 6 7 8 9

In [0]:
w = int(input("Enter a number to find the whole number: "))

for j in range(0,n+1):
  print(j, end=' ')

Enter a number to find the whole number: 9
0 1 2 3 4 5 6 7 8 9

#Python program to get input n and print odd numbers till n.

In [0]:
n = eval(input("Enter a number: "))
Odd = []
even = []
for i in range(1, n+1):
  if (i % 2 == 0):
    Odd.append(i)
    
  else:
    even.append(i)
print("Even",even, end=' ')
print("Odd", Odd, end=' ')

Enter a number: 10
[1, 3, 5, 7, 9] [2, 4, 6, 8, 10]

#Python program to get input n and print natural numbers from n in reverse.

In [0]:
rev = int(input("Enter a number"))

for i in range (rev, 0 ,-1):
  print(i, end=' ')

Enter a number7
7 6 5 4 3 2 1

#Python program to get input n and calculate the sum of first n natural numbers.

In [0]:
nat = int(input("Enter a number:"))
tot = []
for i in range(nat+1):
  tot.append(i)
print(sum(tot))

Enter a number:9
45

#Python program to get input n and print n odd numbers.

In [0]:
num = int(input("Enter a number: "))
i,j = 0,1

while i<num:
  print(j,end=' ')
  j=j+2
  i=i+1

print()
numb1 = int(input("Enter a number:"))

k, m =0,2

while k<num:
  print(m, end=' ')
  m=m+2
  k=k+2

Enter a number: 8
1 3 5 7 9 11 13 15
Enter a number:9
2 4 6 8

#Python program to get input n and calculate the sum of even numbers till n

In [0]:
nums = int(input("Enter a number:"))

keep = []
keep2 = []
for i in range (nums+1):
  if (i % 2==0):
    keep.append(i)
  else:
    keep2.append(i)


print("Odd numbers are:",keep2, end=' ')
print()
print("Sum of odd numbers are:", sum(keep2))
print()
print("Even numbers are:", keep, end=' ')
print()
print("Sum of even numbers are:", sum(keep))

Enter a number:20
Odd numbers are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Sum of odd numbers are: 100

Even numbers are: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Sum of even numbers are: 110

#Python program to get input n and n inputs and calculate the sum of n inputs.

In [0]:
num = int(input("Enter a numbers:"))

times = 0
for i in range(0,num):
  num = int(input("Enter a numbers:"))
  times
  times+=num
print(times)

Enter a numbers:5
Enter a numbers:8
Enter a numbers:9
Enter a numbers:0
Enter a numbers:9
Enter a numbers:7
33

#Python program to get input num and display the first digit of number num and find it is odd or even

In [0]:
num = int(input("Enter a number: "))

while num >10:
  num = num//10
print("The first digit is:", num)
if (num % 2 == 0):
  print(num, "is an even number")

else:
  print(num, "is a odd number")

Enter a number: 7865
The first digit is: 7
7 is a odd number

#Python program to get two inputs  num1 and num2, compute the product of num1 and num2 without using  * operator

In [0]:
num1 = int(input("Enter a number:"))
num2 = int(input("Enter another number:"))

product = 0

for i in range(0,num2):
  product+=num1
print(product)

Enter a number:6
Enter another number:5
30

#Python program to get input n and print the multiplication table of n

In [0]:
numb = eval(input("Enter a number:"))

for i in range(0,10+1):
  result = i*numb

  print("{} X {} = {} ".format(i,numb,result))

Enter a number:10
0 X 10 = 0
1 X 10 = 10
2 X 10 = 20
3 X 10 = 30
4 X 10 = 40
5 X 10 = 50
6 X 10 = 60
7 X 10 = 70
8 X 10 = 80
9 X 10 = 90
10 X 10 = 100

#Python program to get input n and m, print the multiplication table of n till m

In [0]:
num = int(input("Enter a number:"))
numb = int(input("Enter another number:"))

for i in range(0, numb+1):
  mul = i*num
  
  print("{} X {} = {}". format(i, num, mul))

Enter a number:5
Enter another number:5
0 X 5 = 0
1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25

#Python program to get input n and n postive integers (skip the negative number), then compute the sum of postive integers

In [0]:
lis = int(input("Enter a num: "))
pos = 0

while (lis >= 0):
  pos+=lis
  lis = int(input("Enter the number:"))

print(pos)

Enter a list separated by space: 5
Enter the number:1
Enter the number:2
Enter the number:3
Enter the number:4
Enter the number:-6
15

#Python program to find factorial of n

In [0]:
num = int(input("Enter a number: "))

fact = 1

for i in range(1,num+1):
  fact*=i

print(fact)

Enter a number: 5
120

#Python Program to get list size n and n elements of list, then print the elements.

In [0]:
l = list(map(int,input("Enter an array: ").split(' ')))

for i in l:
  print(i)

Enter an array: 2 3 4 5
2
3
4
5

#sum of list in python | without using built-in function

In [0]:
list1= list(input("Enter a list: ").split(' '))
total = 0
for i in range (0, len(list1)):
  total = total + i
print(total)


# why 6 7 8 is not working

Enter a list: 6 7 8
3

#Python Program to get an element and find the location of element in list, print -1 if element is not found.

In [0]:
li1 = list(map(input("Enter the array:").split(" ")))

find_out = int(int,input("Enter a number to find out:"))

for i in range(0, len(li1)):
  if (list1[i] == find_out):
    print(i)
    break

else:
   print("input is not found")


# no propper output

Enter the array:1 2 3 4

TypeError: ignored

#largest element in the list python | without using built-in function

In [0]:
l= list(map(int,input("Enter a list:").split(" ")))
large = max(l)
small = min(l)
print(large, small)

Enter a list:1 2 3 4 5 6
6 1

#Print-all-the-numbers-which-are-less-than-given-key-element-from-a-given-list.

In [0]:
l = list(map(int,input("Enter an array: ").split(" ")))

s = int(input("Enter a number to findout: "))

less=[]

for i in range(0, len(l)):
  if l[i] <= s:
    less.append(l[i])

print(less)

Enter an array: 1 2 2 3 4 5
Enter a number to findout: 2
[1, 2, 2]

# delete-element-in-list-python

In [0]:
l = list(map(int,input("Enter a list: ").split(" ")))

f = int(input("letter to be removed: "))

l.remove(f)

print(l)

Enter a list: 1 2 3 4 5 6 7
letter to be removed: 5
[1, 2, 3, 4, 6, 7]

In [0]:
1 2 3 4 5 6 7

#Revese-the-elements-in-list-python

In [0]:
l = list(map(int,input("Enter a list: ").split(' ')))

for i in l[::-1]:
  
  
  print(i, end=(' '))



n = list(map(int,input("Enter a list: ").split(' ')))

start = 0
stop = len(l)-1

while start < stop:
  l[start], l[stop] = l[stop], s[start]

  start += 1
  stop -=1

print(n)

#Python Program to get list size n and n elements of list, then sort the elements of list in ascending order.

In [0]:
m = list(map(int,input("Enter a list: ").split(" ")))

m.sort()

print(m)

Enter a list: 9 5 6 7 4 3 1 5 6
[1, 3, 4, 5, 5, 6, 6, 7, 9]

#Python Program to get list size n and n elements of list, then sort the elements of list in descending order.

In [0]:
m = list(map(int,input("Enter a list: ").split(' ')))

m.reverse()

print(m)

m.sort(reverse=True)

print(m)

Enter a list: 3 4 6 8 9 5 6 7 3 2
[2, 3, 7, 6, 5, 9, 8, 6, 4, 3]
[9, 8, 7, 6, 6, 5, 4, 3, 3, 2]

# Python Program to get list size n and n elements of list, then sort the first half elements of list in ascending order and sort second half elements of list in descending order.

In [0]:
def printorder(arr, n):
  arr.sort()

  i=0
  while i<n/2:
    print(arr[i])
    i+=1
  j = n-1
  while j >n/2:

    print(arr[i])

    j-=1

    
arr = list(map(int,input("Enter a list: ").split(' ')))
n = len(arr)

printorder(arr, n)

Enter a list: 6 5 4 3 2 1 7 8 9
1
2
3
4
5
6
6
6
6