<a href="https://colab.research.google.com/github/kajendranL/GoogleColabs/blob/master/https_edabit_com.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create a function that returns the number of hashes and pluses in a string.

In [0]:
def hash_plus_count(txt):
	hashes = 0
	plus = 0
	for i in txt:
		if i == '#':
			hashes +=1
		elif i == '+':
			plus += 1
		elif i == '':
			return [0,0]
	return ([hashes ,plus])
 
print(hash_plus_count("###+")) # ➞ [3, 1]
print(hash_plus_count("##+++#")) # ➞ [3, 3]
print(hash_plus_count("#+++#+#++#"))# ➞ [4, 6]
print(hash_plus_count(""))# ➞ [0, 0]

[3, 1]
[3, 3]
[4, 6]
[0, 0]

# Given a list of numbers, negate all elements contained within.

In [0]:
def negate(lst):
	if lst == "":
		return []
	else:
		for i in range(len(lst)):
			lst[i]=-lst[i]
		return lst

print(negate([1, 2, 3, 4])) #➞ [-1, -2, -3, -4]

print(negate([-1, 2, -3, 4])) #➞ [1, -2, 3, -4]

print(negate([])) #➞ []

[-1, -2, -3, -4]
[1, -2, 3, -4]
[]

# Create a function that returns True if an input string contains only uppercase or only lowercase letters.

In [0]:
def same_case(txt):
	if txt == txt.lower():
		return True
	elif txt == txt.upper():
		return True
	else:
		return False

print(same_case("hello"))# ➞ True
print(same_case("HELLO")) #➞ True
print(same_case("Hello")) #➞ False
print(same_case("ketcHUp"))# ➞ False

True
True
False
False

# Create a function that returns True if the first list can be nested inside the second.

list1 can be nested inside list2 if:

list1's min is greater than list2's min.
list1's max is less than list2's max.

In [0]:
def can_nest(list1, list2):
	if min(list1) > min(list2) and max(list1)< max(list2):
		return True
	else:
		return False

print(can_nest([1, 2, 3, 4], [0, 6]))# ➞ True
print(can_nest([3, 1], [4, 0]))# ➞ True
print(can_nest([9, 9, 8], [8, 9]))# ➞ False
print(can_nest([1, 2, 3, 4], [2, 3]))# ➞ False

True
True
False
False

# Create a function that counts the number of syllables a word has. Each syllable is separated with a dash -.

In [1]:
def number_syllables(word):
	syll = word.split('-')
	return len(syll)
 
print(number_syllables("buf-fet"))# ➞ 2
print(number_syllables("beau-ti-ful"))# ➞ 3
print(number_syllables("mon-u-men-tal")) #➞ 4
print(number_syllables("on-o-mat-o-poe-ia"))# ➞ 6

2
3
4
6

In [13]:
def limit_number(num, range_low, range_high):
	return range_high if num > range_high else range_low if num < range_low else num
		
  

print(limit_number(5, 1, 10))# ➞ 5
print(limit_number(-3, 1, 10))# ➞ 1
print(limit_number(14, 1, 10))# ➞ 10
print(limit_number(4.6, 1, 10))# ➞ 4.6

5
1
10
4.6

# Write a function to reverse a list.

In [14]:
def reverse(lst):
	if lst == []:
		return []
	else:
		reve = lst[::-1]
		return reve

print(reverse([1, 2, 3, 4]))# ➞ [4, 3, 2, 1]
print(reverse([9, 9, 2, 3, 4]))# ➞ [4, 3, 2, 9, 9]
print(reverse([]))# ➞ []

[4, 3, 2, 1]
[4, 3, 2, 9, 9]
[]

# Next Element in Arithmetic Sequence

Create a function that returns the next element in an arithmetic sequence. In an arithmetic sequence, each element is formed by adding the same constant to the previous element.

In [15]:
def next_element(lst):
	find = lst[1] - lst[0]
	return lst[-1]+find

print(next_element([3, 5, 7, 9]))# ➞ 11
print(next_element([-5, -6, -7]))# ➞ -8
print(next_element([2, 2, 2, 2, 2]))# ➞ 2

11
-8
2

# Add, Subtract, Multiply or Divide?
Write a function that takes two numbers and returns if they should be added, subtracted, multiplied or divided to get 24. If none of the operations can give 24, return None.

In [16]:
def operation(num1, num2):
	result = 24
	if num1 + num2 == result:
		return "added"
	elif num1 * num2 == result:
		return "multiplied"
	elif num1 - num2 == result:
		return "subtracted"
	elif num1 / num2 == result:
		return "divided"
	else:
		return None

print(operation(15, 9))# ➞ "added"
print(operation(26, 2))# ➞ "subtracted"
print(operation(11, 11))# ➞ None

added
subtracted
None

In [18]:
def operation(num1, num2):
  oper = {(num1+num2): "added", (num1-num2): "subtracted", (num1*num2): 'multiplied',(num1/num2):"divided"}
  if 24 in oper.keys():
    return oper[24]
  else:
    return None

print(operation(15, 9))# ➞ "added"
print(operation(26, 2))# ➞ "subtracted"
print(operation(11, 11))# ➞ None

added
subtracted
None

#Stack the Boxes
Here's an image of four models. Some of the cubes are hidden behind other cubes. Model one consists of one cube. Model two consists of four cubes, and so on...
![stack photo](https://drive.google.com/uc?id=18jZ2zCHfeoy817c_ygadfk5knhU4UZeh)

In [19]:
def stack_boxes(n):
	return n**2

print(stack_boxes(1))# ➞ 1

print(stack_boxes(2))# ➞ 4

print(stack_boxes(0))# ➞ 0

1
4
0

In [45]:
def calculate_scores(txt):
  A = 0
  B = 0
  C = 0
  for i in txt:
    if i =='A':
      A +=1
    if i =='B':
      B +=1
    if i =='C':
      C +=1
  return [A,B,C]
  
  
  
print(calculate_scores("A"))# ➞ [1, 0, 0]
print(calculate_scores("ABC"))# ➞ [1, 1, 1]
print(calculate_scores("ABCBACC"))# ➞ [2, 2, 3]

# read Durga sir notes

[1, 0, 0]
[1, 1, 1]
[2, 2, 3]