<a href="https://colab.research.google.com/github/kajendranL/GoogleColabs/blob/master/https_www_justlearnpython_com.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 2: Say Hello to user, Expected, ‘Hello John’, “Hello Mary” etc…

In [3]:
def wish(name):
  return "Hello!",name

print(wish('John'))
print(wish('Mary'))
print(wish('Yazhini'))

('Hello!', 'John')
('Hello!', 'Mary')
('Hello!', 'Yazhini')

# Exercise 3: Take two numbers from user, print the sum.

In [10]:
def addition(n1,n2):
  print("The sum of {}, and {} is {}".format(n1,n2,n1+n2))


a = int(input("Enter a number to add: "))
b = int(input("Enter another number to add: "))
addition(a,b)

Enter a number to add: 50698
Enter another number to add: 235469
The sum of 50698, and 235469 is 286167

# Exercise 4: Print even numbers below 100.

In [22]:
for i in range(1,100):
  even = 0
  if i % 2 == 0:
    even=even+i
    print(even,end=',')

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,

# Exercise 5: Print odd numbers below 50, in descending order

In [49]:
for i in range(50):
  odd = []
  if i % 2 !=0:
    odd.append(i)
    print(odd,end=',')
# find out the descendint order
#odd.sort(reverse=True)

[1],[3],[5],[7],[9],[11],[13],[15],[17],[19],[21],[23],[25],[27],[29],[31],[33],[35],[37],[39],[41],[43],[45],[47],[49],

# Exercise 6: Print prime numbers below 100.

In [57]:
num = 100

if num >1:
  pmnum = 0
  for i in range (2,100):
    if num % i == 0:
      print(num,"This is not a prime number")
      print(i,"times",num//i,"is",num)
      break
  else:
    pmnum+=i
    print(num, "is a prime number")
else:
  print(num,"It is a prime number")

print()

100 This is not a prime number
2 times 50 is 100

In [63]:
def is_prime(num):
  divi = int(num/2)+1

  for i in range(2,divi):
    if num%i==0:
      return False
    return True
      

for num in range(2,100):
  if is_prime(num):

    print(num,end=',')

5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

# Exercise 7: Take two numbers from user, and print the biggest.

In [65]:
num1= int(input("Enter a number: "))
num2 = int(input("Enter another number: "))
if num1 >num2:
  print(num1, "is the biggest")
else:
  print("The biggest number is ",num2)

Enter a number4698
Enter another number6542
The biggest number is  6542

# Exercise 8: Take three numbers from user, and print the biggest.

In [66]:
num1 = int(input())
num2 = int(input())
num3 = int(input())

bigg = max(num1,num2,num3)

print("The biggest numbers of {},{},{}, is {}".format(num1,num2,num3, bigg))

45
52
62
The biggest numbers of 45,52,62, is 62

# Exercise 9: Ask the user for a number,to pick the color from the list.

In [8]:
colors = ['Blue','Green','Orange','Red']

color = int(input("Enter the choice of your number: "))

if color >4 or color <1:
  print("Enter the right choice")

else:
  color -=1

  if colors [color] =='Blue':
    print("You have picked 'Blue'")

  elif colors [color] == 'Green':
    print("you have picked 'Green'")
  elif colors[color] == "Orange":
    print("You have picked 'Orange'")
  elif colors[color] == "Red":
      print("You have picked 'Red' ")

Enter the choice of your number: 1
You have picked 'Blue'

# String Exercises
 
# Exercise 1: Check if ‘is’ present in str1

str1 = “this is a sample DaTaa”

In [10]:
str1 = "this is a sample DaTaa"
if 'is' in str1:
  print("Yes it is True, 'is' is present ")
else:
  print("no it is not")

Yes it is True, 'is' is present

# Exercise 2: Check if ‘was’ not present in str1

In [11]:
str1 = "this is a sample DaTaa"
if 'was' not in str1:
  print("That is right 'was' is not present in the srting")
else:
  print("It is present")

That is right 'was' is not present in the srting

# Exercise 3: Print str1 in uppercase

In [13]:
up= str1.upper()
print(up)

THIS IS A SAMPLE DATAA

# Exercise 5: Print str1 as title

In [18]:
str1 = "this is a sample DaTaa"
title = str1.title()
print(title)

This Is A Sample Dataa

# Exercise 6: Get a new string from str1 ‘DatTaa’ as ‘Data’

In [19]:
str1 = "this is a sample DaTaa"
new_str1 = str1.replace('DaTaa','Data')
print(new_str1)

this is a sample Data

# Exercise 7: Get a new string from str1 with exra ‘a’ removed from ‘DatTaa’

In [24]:
re_str1=str1[:-1]
print("After removing last 'a'",re_str1)

print()
#reverse the string
rev_str1 = str1[::-1]
print(rev_str1)

After removing last 'a' this is a sample DaTa

aaTaD elpmas a si siht

# Exercise 8: Display date, month and year form 10-Jan-2020

In [28]:
Dates = '10-Jan-2020'

d,m,y = Dates.split('-')

print("date:{},month:{},Year{}".format(d,m,y))

date:10,month:Jan,Year2020

# Exercise 9: Display ‘sample’ word from ‘ this is another sample string ‘

In [32]:
str2 = 'this is another sample string'

new_word = str2.strip().split()[-2]
print(new_word)

sample
The word'Sample' is present in the string

# Exercise 10: arr = “10,20,30,40,50,60,70”, get “50,60”

In [35]:
arr = “10,20,30,40,50,60,70”

new_str = ','join(arr.split(',')[4:6])
print(new_str)

# find the error

SyntaxError: ignored

# Exercise 11: Find the sum of elements arr = “10,20,30,40,50,60,70”

In [63]:
arr = '10,20,30,40,50,60,70'
divide = (arr.split(','))

total = 0
for i in list(divide):
  total +=i
  print(total)
# need to work on it

TypeError: ignored

# Exercise 14: From given list create separate lists of strings and numbers.

In [72]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, 
           "Television", 1000, "Laptop Case", "Camera Lens"]
str_items = []
int_items=[]
for item in gadgets:
  if isinstance(item,str):
    str_items.append(item)
  if isinstance(item,int) or isinstance(item,float):
    int_items.append(item)
print(str_items)
print(int_items)

['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']
[100, 310.28, 27.0, 1000]

# Exercise 15: Given two strings check first is reverse of second. Ex ‘ABC’, ‘CBA’

In [78]:
# Model 1
def reverse(word):
  reve= ''
  for i in word:
    reve = i+ reve
  return (reve)

word = 'ABCDEFG'
print(reverse(word))

print()
# Model 2

def reverse2(s1):
  if len(s1)==0:
    return(s1)
  else:
    return reverse(s1[1:])+s1[0]

word = 'ABCDEFG'
print(reverse2(word))

print()

def reverse3(s3):
  s3 = s3[::-1]
  return s3
word = 'ABCDEFG'
print(reverse3(word))

print()
def reverse4(s4):
  s4 = ''.join(reversed(s4))
  return s4

word = 'ABCDEFG'
print(reverse4(word))

GFEDCBA

GFEDCBA

GFEDCBA

GFEDCBA

# Exercise 16: Given a strings check first and last words are same.

In [87]:
def check_same(string):
  word_list = string.strip().split()
  if word_list[0] == word_list[-1]:
    print("First and last words are the same")
  else:
    print("The first and last words are not the same")

same = "Apples should compared with Apples"
check_same(same)

First and last words are the same

# Exercise 17: From the given list calculate total scores.

In [0]:
#display student name and total scores

def total_score(student_score):
  for item in student_score:
    f,s = item.split('|')
    # print(f)
    sum=0
    for i in s:
      sum +=i
    print(sum)
    


student_scores =['Alex|75 50 90 80 90 70',
                'Mary|76 72 71 68 85 69',
                'John|69 67 68 71 68 67',
                'Anne|80 69 59 82 71 81',
                'Mark|79 81 74 71 69 73'
                ]
total_score(student_scores)

# find an answer

# Exercise 18: write a function encrypt a given string,
input sample :
1) abcaaadddbvvsscccc => abca3d3bv2c4
2) abc => abc
3) wwww => w4
4) abcaaddbbvvsscd => abca2d2b2v2cd

In [0]:
# fidn durga sir notes

# List Exercises in Python

# Exercise 1: Given 2D array calculate the sum of diagonal elements.

In [0]:
def sum_of_diagonal(a):
  sum = 0
  for i in range(a):
    sum += a[i][i]
  return sum


a_2d = ([1,2,3],[4,5,6],[7,8,9])
b_2d = ([1,0,1],[1,1,0],[1,1,1])
c_2d = ([2,0],[0,2])
print("sum a_2d: ",sum_of_diagonal(a_2d))
print("sum b_2d: ",sum_of_diagonal(b_2d))
print("sum c_2d: ",sum_of_diagonal(c_2d))