<a href="https://colab.research.google.com/github/kajendranL/GoogleColabs/blob/master/Patternz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pattern I

In [0]:
n = int(input("Enter the number of rows: "))

for i in range(1, n+1):
  print("*"* n)

for i in range(1, n+1):
  for j in range(1,n+1):
    print(' ', chr(65+n-1),end='')
  print()

Enter the number of rows: 8
********
********
********
********
********
********
********
********
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H

# Pattern II

In [0]:
n= int(input("Enter a number: "))

for i in range(1, n+1):
  for j in range(1,n+1):
    print(' ',i, end='')
  print()

print("Model 2")



for i in range (1, n+1):
  for j in range (1, n+1):
    print(' ' ,j,end='')
  print()

Enter a number: 8
  1  1  1  1  1  1  1  1
  2  2  2  2  2  2  2  2
  3  3  3  3  3  3  3  3
  4  4  4  4  4  4  4  4
  5  5  5  5  5  5  5  5
  6  6  6  6  6  6  6  6
  7  7  7  7  7  7  7  7
  8  8  8  8  8  8  8  8
Model 2
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8

# Pattern III

In [0]:
n = int(input("Enter a number: "))

for i in range (1, n+1):
  for j in range (1, n+1):
    print(' ',chr(64+i),end='')
  print()

print(  "Model 2")

for i in range(1,n+1):
  for j in range (1,n+1):
    print(' ', chr(64+j),end='')
  print()

Enter a number: 8
  A  A  A  A  A  A  A  A
  B  B  B  B  B  B  B  B
  C  C  C  C  C  C  C  C
  D  D  D  D  D  D  D  D
  E  E  E  E  E  E  E  E
  F  F  F  F  F  F  F  F
  G  G  G  G  G  G  G  G
  H  H  H  H  H  H  H  H
Model 2
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H

# Pattern IV

In [0]:
n = int(input("Enter a number: "))

for i in range(1,n+1):
  for j in range(1,n+1):
    print(' ',n+1 - i, end='')
  print()

print('   ' "Model 2")

for i in range(1, n+1):
  for j in range(1, n+1):
    print(' ',n+1-j,end='')
  print()

Enter a number: 8
  8  8  8  8  8  8  8  8
  7  7  7  7  7  7  7  7
  6  6  6  6  6  6  6  6
  5  5  5  5  5  5  5  5
  4  4  4  4  4  4  4  4
  3  3  3  3  3  3  3  3
  2  2  2  2  2  2  2  2
  1  1  1  1  1  1  1  1
   Model 2
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1

# Pattern V

In [0]:
Row = 8

for i in range (1,n+1):
  for j in range(1,n+1):
    print(' ',chr(65+n-i), end='')
  print()
print()

for i in range(1, n+1):
  for j in range(1,n+1):
    print(' ', chr(65+n-j),end='')
  print()

  H  H  H  H  H  H  H  H
  G  G  G  G  G  G  G  G
  F  F  F  F  F  F  F  F
  E  E  E  E  E  E  E  E
  D  D  D  D  D  D  D  D
  C  C  C  C  C  C  C  C
  B  B  B  B  B  B  B  B
  A  A  A  A  A  A  A  A

  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A

# Pattern VI

In [0]:
n = 8

for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

print()

for i in range(1,n+1):
  for j in range(1,j):
    print('*', end='')
  print()

print()

for i in range(1,n+1):
  print('*'*i)
print()

print()

for i in range(1,n+1):
  for j in range (1,i+1):
    print(j,end='')
  print()

*
**
***
****
*****
******
*******
********

*******
******
*****
****
***
**
*


*
**
***
****
*****
******
*******
********


1
12
123
1234
12345
123456
1234567
12345678

# Pattern VII

In [0]:
n =8
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(65),end='')
  print()

for i in range(1,n+1):
  for j in range(1,j):
    print(chr(65),end='')
  print()

print()

A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA
AAAAAAAA
AAAAAAA
AAAAAA
AAAAA
AAAA
AAA
AA
A

In [0]:
n =8
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(65+i),end='')
  print()

for i in range(1,n+1):
  for j in range(1,j):
    print(chr(65+i),end='')
  print()

print()

B
CC
DDD
EEEE
FFFFF
GGGGGG
HHHHHHH
IIIIIIII
BBBBBBB
CCCCCC
DDDDD
EEEE
FFF
GG
H

In [0]:
n=8

for i in range(1,n+1):
  for j in range(1,n+2-i):
    print("*",end='')
  print()

for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end='')
  print()

********
*******
******
*****
****
***
**
*
*
**
***
****
*****
******
*******
********

In [0]:
n= 8
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(i,end='')
  print()

for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(j,end='')
  print()
print()
for i in range(1,n+1):
  for j in range(1,n+2-1):
    print(i,end='')
  print()
print()
for i in range(1,n+1):
  for j in range(1,n+2-1):
    print(j,end='')
  print()
print()
for i in range(1,n+1):
  for j in range(1,n+2-j):
    print(i,end='')
  print()
print()
for i in range(1,n+1):
  for j in range(1,n+2-j):
    print(j,end='')
  print()

11111111
2222222
333333
44444
5555
666
77
8
12345678
1234567
123456
12345
1234
123
12
1

11111111
22222222
33333333
44444444
55555555
66666666
77777777
88888888

12345678
12345678
12345678
12345678
12345678
12345678
12345678
12345678

1
22222222
3
44444444
5
66666666
7
88888888

1
12345678
1
12345678
1
12345678
1
12345678

In [0]:
n = 8

for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(i,end='')
  print()

for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end='')
  print()


for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(j,end='')
  print()
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end='')
  print()

for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(chr(64+i),end='')
  print()
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(64+i),end='')
  print()
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(chr(64+j),end='')
  print()
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(64+j),end='')
  print()

11111111
2222222
333333
44444
5555
666
77
8
1
22
333
4444
55555
666666
7777777
88888888
12345678
1234567
123456
12345
1234
123
12
1
1
12
123
1234
12345
123456
1234567
12345678
AAAAAAAA
BBBBBBB
CCCCCC
DDDDD
EEEE
FFF
GG
H
A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH
ABCDEFGH
ABCDEFG
ABCDEF
ABCDE
ABCD
ABC
AB
A
A
AB
ABC
ABCD
ABCDE
ABCDEF
ABCDEFG
ABCDEFGH

#Patternz relearning

#pattern 1

In [0]:
for x in range(1,6):
  for y in range(1,6):
    print("*", end= '')
  print()

print()

for x in range(1,6):
  for y in range(1,6):
    print(x, end='')
  print()

print()

for x in range(1,6):
  for y in range(1,6):
    print(y, end='')
  print()

print()

for x in range(1,6):
  for y in range(1,6):
    print(chr(64+x),end='')
  print()
print()
for x in range(1,6):
  for y in range(1,6):
    print(chr(64+y),end='')
  print()

print()

for x in range(5,0,-1):
  for y in range(5,0,-1):
    print(x,end='')
  print()

print()
for x in range(5,0,-1):
  for y in range(5,0,-1):
    print(y, end='')
  print()

print()
for x in range(5,0,-1):
  for y in range(5,0,-1):
    print(chr(64+x), end='')
  print()
print()
for x in range(5,0,-1):
  for y in range(5,0,-1):
    print(chr(64+y), end='')
  print()

*****
*****
*****
*****
*****

11111
22222
33333
44444
55555

12345
12345
12345
12345
12345

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

55555
44444
33333
22222
11111

54321
54321
54321
54321
54321

EEEEE
DDDDD
CCCCC
BBBBB
AAAAA

EDCBA
EDCBA
EDCBA
EDCBA
EDCBA

#Patterns 2

In [9]:
for x in range(0,6):
  for y in range(1, x+1):
    print("*", end=' ')
  print()

for i in range (0,6):
  for m in range(1,i+1):
    print(i,end=" ")
  print()

for i in range (0,6):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

  
for s in range(0,6):
  for k in range (1,s+1):
    print(chr(64+s),end=' ')
  print()

for u in range(0,6):
  for w in range(1,u+1):
    print(chr(64+w),end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

A
B B
C C C
D D D D
E E E E E

A
A B
A B C
A B C D
A B C D E

##patterns 3

In [0]:
for x in range(0,6):
  for y in range(6,x,-1):
    print(x,end=' ')
  print()

for s in range(0,6):
  for t in range (6,x,-1):
    print(t,end=' ')
  print()