<a href="https://colab.research.google.com/github/kajendranL/GoogleColabs/blob/master/Patternz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pattern I

In [0]:
n = int(input("Enter the number of rows: "))

for i in range(1, n+1):
  print("*"* n)

for i in range(1, n+1):
  for j in range(1,n+1):
    print(' ', chr(65+n-1),end='')
  print()

Enter the number of rows: 8
********
********
********
********
********
********
********
********
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H
  H  H  H  H  H  H  H  H

# Pattern II

In [0]:
n= int(input("Enter a number: "))

for i in range(1, n+1):
  for j in range(1,n+1):
    print(' ',i, end='')
  print()

print("Model 2")



for i in range (1, n+1):
  for j in range (1, n+1):
    print(' ' ,j,end='')
  print()

Enter a number: 8
  1  1  1  1  1  1  1  1
  2  2  2  2  2  2  2  2
  3  3  3  3  3  3  3  3
  4  4  4  4  4  4  4  4
  5  5  5  5  5  5  5  5
  6  6  6  6  6  6  6  6
  7  7  7  7  7  7  7  7
  8  8  8  8  8  8  8  8
Model 2
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8
  1  2  3  4  5  6  7  8

# Pattern III

In [0]:
n = int(input("Enter a number: "))

for i in range (1, n+1):
  for j in range (1, n+1):
    print(' ',chr(64+i),end='')
  print()

print(  "Model 2")

for i in range(1,n+1):
  for j in range (1,n+1):
    print(' ', chr(64+j),end='')
  print()

Enter a number: 8
  A  A  A  A  A  A  A  A
  B  B  B  B  B  B  B  B
  C  C  C  C  C  C  C  C
  D  D  D  D  D  D  D  D
  E  E  E  E  E  E  E  E
  F  F  F  F  F  F  F  F
  G  G  G  G  G  G  G  G
  H  H  H  H  H  H  H  H
Model 2
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H
  A  B  C  D  E  F  G  H

# Pattern IV

In [0]:
n = int(input("Enter a number: "))

for i in range(1,n+1):
  for j in range(1,n+1):
    print(' ',n+1 - i, end='')
  print()

print('   ' "Model 2")

for i in range(1, n+1):
  for j in range(1, n+1):
    print(' ',n+1-j,end='')
  print()

Enter a number: 8
  8  8  8  8  8  8  8  8
  7  7  7  7  7  7  7  7
  6  6  6  6  6  6  6  6
  5  5  5  5  5  5  5  5
  4  4  4  4  4  4  4  4
  3  3  3  3  3  3  3  3
  2  2  2  2  2  2  2  2
  1  1  1  1  1  1  1  1
   Model 2
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1
  8  7  6  5  4  3  2  1

# Pattern V

In [0]:
Row = 8

for i in range (1,n+1):
  for j in range(1,n+1):
    print(' ',chr(65+n-i), end='')
  print()
print()

for i in range(1, n+1):
  for j in range(1,n+1):
    print(' ', chr(65+n-j),end='')
  print()

  H  H  H  H  H  H  H  H
  G  G  G  G  G  G  G  G
  F  F  F  F  F  F  F  F
  E  E  E  E  E  E  E  E
  D  D  D  D  D  D  D  D
  C  C  C  C  C  C  C  C
  B  B  B  B  B  B  B  B
  A  A  A  A  A  A  A  A

  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A
  H  G  F  E  D  C  B  A

# Pattern VI

In [32]:
n = 8

for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

print()

for i in range(1,n+1):
  for j in range(1,j):
    print('*', end='')
  print()

print()

for i in range(1,n+1):
  print('*'*i)
print()

print()

for i in range(1,n+1):
  for j in range (1,i+1):
    print(j,end='')
  print()

*
**
***
****
*****
******
*******
********

*******
******
*****
****
***
**
*


*
**
***
****
*****
******
*******
********


1
12
123
1234
12345
123456
1234567
12345678

# Pattern VII

In [45]:
n =8
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(65),end='')
  print()

for i in range(1,n+1):
  for j in range(1,j):
    print(chr(65),end='')
  print()

print()

A
AA
AAA
AAAA
AAAAA
AAAAAA
AAAAAAA
AAAAAAAA
AAAAAAA
AAAAAA
AAAAA
AAAA
AAA
AA
A

In [46]:
n =8
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(65+i),end='')
  print()

for i in range(1,n+1):
  for j in range(1,j):
    print(chr(65+i),end='')
  print()

print()

B
CC
DDD
EEEE
FFFFF
GGGGGG
HHHHHHH
IIIIIIII
BBBBBBB
CCCCCC
DDDDD
EEEE
FFF
GG
H

In [52]:
n=8

for i in range(1,n+1):
  for j in range(1,n+2-i):
    print("*",end='')
  print()

for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end='')
  print()

********
*******
******
*****
****
***
**
*
*
**
***
****
*****
******
*******
********