<a href="https://colab.research.google.com/github/kajendranL/GoogleColabs/blob/master/W3Resources_Basic_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python basic (Part -I) [150 exercises with solution]

#1. Write a Python program to print the following string in a specific format (see the output). Go to the editor
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" Output :

Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are

In [2]:
print("Twinke, twinkle, little star, \n\tHow I wonder What you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle,twinkle,little star,\n\tHow i wonder whar you are")

Twinke, twinkle, little star,
	How I wonder What you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle,twinkle,little star,
	How i wonder whar you are

#2.Write a Python program to get the Python version you are using

In [4]:
import sys
print("Python version", sys.version)
print("Python version info", sys.version_info)

Python version 3.6.8 (default, Jan 14 2019, 11:02:34)
[GCC 8.0.1 20180414 (experimental) [trunk revision 259383]]
Python version info sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)

# 3. Write a Python program to display the current date and time.
Sample Output :
Current date and time :
2014-07-05 14:34:14

In [9]:
import datetime
time = datetime.datetime.now()
print("Current date and time:" ,time)
print(time.strftime("%y-%m-%d %H:%M:%S"))

Current date and time: 2019-10-13 13:34:54.242968
19-10-13 13:34:54

# 4. Write a Python program which accepts the radius of a circle from the user and compute the area. 
Sample Output :
r = 1.1
Area = 3.8013271108436504

Ï€r2.

In [11]:
from math import pi
r = float(input("Enter the radius of the circle"))
Circle = (pi*r**2)

print("The area of the circle with the radius,",r , "is:", Circle)

Enter the radius of the circle3.5
The area of the circle with the radius, 3.5 is: 38.48451000647496

# 5. Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them

In [14]:
first = input("What is your first name?: ")
last = input("What is your last name?: ")
print(last +" "+  first)

What is your first name?: Joseph
What is your last name?: Epifano
Epifano Joseph

# 6.Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

In [21]:
csn = input('Enter comma separated numbers: ')
list = csn.split(',')

print(list)
print(tuple(list))

Enter comma separated numbers: 15 48 96 35
['15 48 96 35 ']
('15 48 96 35 ',)

# 7. Write a Python program to accept a filename from the user and print the extension of that.
Sample filename : abc.java
Output : java

In [23]:
fname1 = input("What is the name of the file? ")

extname = fname1.split('.')

print("The extension name is: ",extname[-1])

What is the name of the file? abc.csv
csv

# 8. Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [24]:
color_list = ["Red","Green","White" ,"Black"]

print(color_list[0],color_list[-1])

Red Black

# 9. Write a Python program to display the examination schedule. (extract the date from exam_st_date).

exam_st_date = (11, 12, 2014)
Sample Output : The examination will start from : 11 / 12 / 2014

In [33]:
exam_st_date = (11, 12, 2014)

print("The exam will start from %i / %i / %i "%exam_st_date)

The exam will start from 11 / 12 / 2014

# 10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn. 
Sample value of n is 5
Expected Result : 615

In [4]:
n = int(input("Enter a number:"))

n1 = int("%s" %(n))
n2 = int("%s%s"%(n,n))
n3 = int('%s%s%s'%(n,n,n))

print(n1+n2+n3)

Enter a number:5
615

# 11. Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).

In [9]:
print(abs.__doc__)

Return the absolute value of the argument.

# 12. Write a Python program to print the calendar of a given month and year.
Note : Use 'calendar' module.

In [17]:
import calendar
y = int(input("The number of year "))
m = int(input("The number of the month "))

print(calendar.month(y,m))

The number of year 2020
The number of the month 4
     April 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

# 13. Write a Python program to print the following here document.

In [18]:
print('''a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example''')

a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

# 14. Write a Python program to calculate number of days between two dates

In [21]:
from datetime import date

fdate = date(2019, 7, 14)
ldate = date(2019, 10, 13)

print("The difference between number of days:", (ldate - fdate).days)

The difference between number of days: 91

# Write a Python program to get the volume of a sphere with radius 6.

In [23]:
from math import pi


rad = 6

formu = 4/3*pi*rad*rad*rad 

print("The volume of the sphere is: ", formu)

The volume of the sphere is:  904.7786842338604

# 16. Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.

In [34]:
def gname(n):
  if n <= 17:
    return n-17
  else:
    return (n-17)*2

n= int(input("Enter a number: "))

gname(n)

Enter a number: 14

-3

# 17. Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [40]:
def near_thousand(n):

  return ((abs(1000-n)<=100)or(abs(2000-n)<=100))


print(near_thousand(2000))
print(near_thousand(600))
print(near_thousand(1000))

True
False
True

# 18. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [54]:
def three_num(a,b,c):
  sum  = a+b+c

  if a==b==c:
    sum = sum*3  
  return sum


print(three_num(1,2,3))
print(three_num(5,5,5))

6
45

# 19. Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged.

In [58]:
def isstring(str):
  if str.startswith('Is'):
    return str
  else:
    return 'Is' + ' '+ str 

print(isstring("Is empty"))
print(isstring("Python is"))
print(isstring("Is Yazhini"))
print(isstring("Epifano"))

Is empty
Is Python is
Is Yazhini
Is Epifano

# 20. Write a Python program to get a string which is n (non-negative integer) copies of a given string.

In [60]:
def str_copy(str,n):
  return str*n

print(str_copy("test",3))

testtesttest

# 21. Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

In [69]:
def accept_num(n):
  Even = []
  Odd = []
  for i in range(n):

    if i % 2 ==0:
      Even.append(i)
    else:
      Odd.append(i)

      
  print("Even numbers are ", Even)
  print("The Odd numbers are :",Odd)


y = int(input("Enter a number of your choice: "))
accept_num(y)

Enter a number of your choice: 10
Even numbers are  [0, 2, 4, 6, 8]
The Odd numbers are : [1, 3, 5, 7, 9]

# 22. Write a Python program to count the number 4 in a given list.

In [86]:
def find_four(lst):
  four = 0
  for i in lst:
    if i == 4:
      four +=1
     
  return four 


print("The number of times Four appear")
lst= [ 1, 4, 5, 4 , 6, 4 ]
print(find_four(lst))

The number of times Four appear
3

# 23. Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2.

In [107]:
def copy_str(str,n):
  if len(str) < 2:
    return str*n
  else:
    return str[:2]*n
  
 


print(copy_str("abc",2))
print(copy_str('Python',3))
print(copy_str('k',3))

abab
PyPyPy
kkk

# 24. Write a Python program to test whether a passed letter is a vowel or not.

In [113]:
def find_out(V):
  vowels = 'A','a','E','e','I','i','O','o','U','u'
  
  if V in vowels:
    return (V, "is a Vowel")
  else:
    return (V, "is not a vowel")

V= input("Enter a letter:  ")
print(find_out(V))

Enter a letter:  M
('M', 'is not a vowel')

# 25. Write a Python program to check whether a specified value is contained in a group of values.

In [117]:
def specific_Values(Vals, n):
  if n in Vals:
    return(n, "is found in the group of values")
  else:
    return(n,"is not found in the group of values")

print(specific_Values([1,2,3,4,5,6],3))
print(specific_Values([15,13,12,14,18,19,20,21],6))

(3, 'is found in the group of values')
(6, 'is not found in the group of values')

# 26. Write a Python program to create a histogram from a given list of integers.

In [124]:
def histogram(items):
  for i in items:
    output = ''
    times = i

    while(times >0):
      output +='*'
      times = times-1
    print(output)

print(histogram([2, 3, 6, 5]))
print()
print(histogram([2,3,4,5,6,7]))

**
***
******
*****
None

**
***
****
*****
******
*******
None

# 27. Write a Python program to concatenate all elements in a list into a string and return it.

In [126]:
def lst_str(C):
  joint = ''
  for i in C:
    joint +=str(i)
  return (joint)

lst_str([45,1,23,6])

'451236'

# 28. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Go to the editor
Sample numbers list :

numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [130]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527 ]
Even = []

for i in (numbers):
  if i == 237:
      break

  elif i % 2 ==0:
    Even.append(i)
    
print(Even)

[386, 462, 418, 344, 236, 566, 978, 328, 162, 758, 918]

# 29. Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2. Go to the editor
Test Data :
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
Expected Output :
{'Black', 'White'}

In [131]:
def color_lst(lst1,lst2):
  return lst1.difference(lst2)

color_list_1 = set(["White", "Black", "Red"]) 
color_list_2 = set(["Red", "Green"])

print(color_lst(color_list_1, color_list_2))

{'Black', 'White'}

# 30. Write a Python program that will accept the base and height of a triangle and compute the area.

In [133]:
def triangle(base, height):
  Area =  base*height/2
  return Area

B = eval(input("What is the base?"))
H = eval(input("What is the Height?"))

triangle(B,H)

What is the base?20
What is the Height?40

400.0

# 31. Write a Python program to compute the greatest common divisor (GCD) of two positive integers.

In [144]:
def hcf_GCD(x,y):

  if x > y:
    smaller = y
  else: 
    smaller = x

  for i in range(1,smaller+1):
    if ((x % i == 0) and ( y % i == 0)):
      gcd = i
  return gcd

num1 =54
num2 = 24

print("The GCD of",num1,"and",num2, "is",(hcf_GCD(num1,num2)))

The GCD of 54 and 24 is 6

# 32. Write a Python program to get the least common multiple (LCM) of two positive integers.

In [147]:
def LCM(x,y):

  if x > y:
    greater = x
  else:
    greater = y

  while True:
    if ((greater % x == 0) and (greater % y ==0)):
      lcm = greater

      break
    greater +=1
  return lcm


num1 = 54
num2 =24

print("The LCM of",num1,"and",num2,"is",(LCM(num1,num2)))

The LCM of 54 and 24 is 216

# 33. Write a Python program to sum of three given integers. However, if two values are equal sum will be zero.

In [157]:
def three_int(m,n,o):
  if ((m ==n) or (n == o) or (m==o)):
    sum= 0
  else:
    sum = m+n+o
  return sum

print(three_int(2, 1, 2))
print(three_int(3, 2, 2))
print(three_int(2, 2, 2))
print(three_int(1, 2, 3))

0
0
0
6

# 34. Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

In [160]:
def sum_two(j,k):
  sum = j+k
  if sum in range(15,20):
    sum = 20
    return sum

  else:
    sum = j+k
  return sum

print(sum_two(5,10))
print(sum_two(20,25))
print(sum_two(9,10))

20
45
20

# 35. Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5.

In [168]:
def sumORdiff(x,y):
  if x == y or abs(x-y) ==5 or (x+y) == 5:
    return True
  else:
    return False

print(sumORdiff(7,3))
print(sumORdiff(3,2))
print(sumORdiff(2,2))
print(sumORdiff(4,2))

False
True
True
False

# 36. Write a Python program to add two objects if both objects are an integer type.